.countdown div {
  display: inline-block;
  margin: 0 5px 1em;
  font-size: 30px;
  font-weight: 100;
  line-height: 1;
  text-align: right;

  *display: inline;
  *zoom: 1;
}

.countdown div:first-child {
  margin-left: 0;
}

.countdown div:last-child {
  margin-right: 0;
}

.countdown div span {
  display: block;
  border-top: 1px solid #cecece;
  padding-top: 3px;
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: left;
}

/* Sticky footer styles
-------------------------------------------------- */
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  /*background-color: #f5f5f5;*/
}
