<li><a href="{{ root_url }}/">Blog</a></li>
<li><a href="{{ root_url }}/archivo">Archivo</a></li>
<li class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Clases <b class="caret"></b></a>
  <!-- href="{{ root_url }}/clases"-->
  <ul class="dropdown-menu" role="menu">
    <li class="dropdown-header">Materias</li>
    <li><a href="{{ root_url }}/clases/BDD/">Bases de Datos Distribuidas</a></li>
    <li><a href="{{ root_url }}/clases/FP/">Fundamentos de Programación</a></li>
    <li><a href="{{ root_url }}/clases/TBD/">Taller de Base de Datos</a></li>
    <li class="divider"></li>
    <li><a href="{{ root_url }}/clases">Todas</a></li>
  </ul>
</li>
<li><a href="{{ root_url }}/acerca">Acerca de</a></li>
